body {
    font-family: "源ノ角ゴシック Code JP N","Source Han Code JP N", 'SourceHanCodeJP-Regular',"Source Han Mono", monospace;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-weight: bold;
    font-size: 1.9em;
}
h2 {
    font-weight: bold;
}
h3 {
    font-weight: bold;
}
h4 {
    font-weight: bold;
}

code {
    font-family: "源ノ角ゴシック Code JP N","Source Han Code JP N", monospace;
    -webkit-font-smoothing: antialiased;
}


/* 

    font-family: "源ノ角ゴシック Code JP B","Source Han Code JP B", monospace;
    */